{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "createDefaultProgram": true,
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "airbnb-typescript",
    "prettier"
  ],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": [
          ["builtin", "external"],
          ["sibling", "parent", "index", "internal"]
        ]
      }
    ],

    "arrow-body-style": "warn",
    "max-len": ["error", {
      "code": 120,
      "tabWidth": 2,
      "ignoreComments": true,
      "ignoreTrailingComments": true,
      "ignoreUrls": true,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "class-methods-use-this": "off",
    "global-require": "off",
    "max-classes-per-file": "warn",
    "no-use-before-define": "off",
    "no-shadow": "off",
    "no-unused-vars": "off",

    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/no-use-before-define": "warn",
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-unused-expressions": "warn",
    "@typescript-eslint/type-annotation-spacing": "error",

    "react/prop-types": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/destructuring-assignment": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",

    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",

    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/label-has-associated-control": ["error", {
      "required": {
        "some": ["nesting", "id"]
      }
    }],
    "jsx-a11y/label-has-for": ["error", {
      "required": {
        "some": ["nesting", "id"]
      }
    }],
    "testing-library/render-result-naming-convention": "off",

    "@typescript-eslint/camelcase": "off",
    "import/prefer-default-export": "off",
    "import/named": "error",
    "import/no-default-export": "error",
    "react/display-name": "off",
    "no-console": "warn"
  },
  "plugins": ["prettier", "@typescript-eslint/eslint-plugin", "react", "import", "react-hooks", "jsx-a11y"]
}
